*.pyc
*.pyo
.eggs
*.egg-info/
.*.swp
*~
*.o
*.DS_Store

.pmd
.checkstyle
#.settings
.project
.pydevproject
parts/
.cache
.coverage


# [不同步的文件与目录, by chijy.]
log/
*.log
data/

.idea
.idea/
.idea/workspace.xml
.venv

config.py
conf.py


/target/
/out/
/lib/
/classes/
/META-INF/
/spark-warehouse/
*.class
*.jar

