*.pyc
*.pyo
.eggs
*.egg-info/
.*.swp
*~
*.o
*.DS_Store

.pmd
.checkstyle
#.settings
.project
.pydevproject
parts/
.cache
.coverage

# [不同步idea/log/配置文件]
*.log
log/

.idea
.idea/
.idea/workspace.xml
.venv

config.py
conf.py

*.class
